---
applications:
  - name: concourse-tracker-bot
    health-check-type: none
    command: concourse-tracker-bot --group-config-file groups.yml
    env:
      GOPACKAGENAME: concourse-tracker-bot
      GO15VENDOREXPERIMENT: 1
      CONCOURSE_HOST: # https://runtime.ci.cf-app.com
      CONCOURSE_TEAM: # main
      TRACKER_API_TOKEN: # https://www.pivotaltracker.com/help/articles/api_token/
